@use "./colors.scss" as *;
@use "./typography.scss" as *;
@import "./theme.scss";

:root {
  --base: 16px;
  --font-mono: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
}

html {
  @extend %body1;
  background: var(--theme-bg);
  -webkit-font-smoothing: antialiased;

  &[data-theme="dark"],
  &[data-theme="light"] {
    opacity: initial;
  }
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  margin: 0;
}

ul,
ol {
  padding-left: var(--base);
  margin: 0 0 var(--base);
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}
