@use "queries" as *;

%h1,
%h2,
%h3,
%h4,
%h5,
%h6 {
  font-weight: bold;
}

%h1 {
  margin: 0;
  font-size: 6rem;
  line-height: 1.167;
  font-weight: bold;
}

%h2 {
  margin: 0;
  font-size: 3.75rem;
  line-height: 1.167;
  font-weight: bold;
}

%h3 {
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
}

%h4 {
  margin: 0;
  font-size: 2.125rem;
  line-height: 1.235;
  font-weight: bold;
}

%h5 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.334;
  font-weight: bold;
}

%h6 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: bold;
}

%subtitle1 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

%subtitle2 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.6;
}

%body1 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

%body2 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.6;
}

%caption {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.6;
}

%overline {
  margin: 0;
  font-size: 0.75rem;
  line-height: 2.66;
  text-transform: uppercase;
}
